* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Jost", sans-serif;
  color: white;
  background: linear-gradient(246deg, #1e1e1e 0%, #000 100%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}